.git
.gitignore
.editorconfig
.env
.env.example
node_modules
vendor
npm-debug.log
yarn-error.log
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
.phpunit.result.cache
*.md
